<button ref="home" class="active">
  <i class="material-icons md-48">home</i>
</button>
<button  ref="search">
  <i class="material-icons md-36">messages</i>
</button>
<button ref="notifications">
  <i class="material-icons md-36">notifications</i>
</button>
<button class="apn profilep pulse" data-ui-field='containerp' ref="about">
  
  <span  class="prp " style="background-size: cover" >
   
  </span>

</button>


   <div data-ui-field="container"  class="video">
        <video data-ui-field="container"  class="video__player" poster="/zuix-web-flix-master/source/images/thumb/Xvideos_clapping_in_the_bathroom_slut_360p.png" src="/zuix-web-flix-master/source/videos/Xvideos_clapping_in_the_bathroom_slut_360p.mp4"></video>

        

        <!-- footer -->
        <div class="videoFooter">
          <div class="videoFooter__text">
            <h3>Harinivas P</h3>
            <p class="videoFooter__description">Best Video Ever</p>

            <div class="videoFooter__ticker">
              <span class="material-icons videoFooter__icon"> music_note </span>
              <marquee>Song name</marquee>
            </div>
          </div>
          <img
            src="https://static.thenounproject.com/png/934821-200.png"
            alt=""
            class="videoFooter__record"
          />
        </div>
      </div>
      <!-- video ends -->
   
